// Heading color
$primary-color: #87bcbf;
// Heading color
$primary-color: #d97d54;
// Heading color
$primary-color: #324755;
// Heading color
$primary-color: #d95454;
// Heading color
$primary-color: #1b1c20;
// Heading color
$primary-color: #6e8ca0;
// Heading color
$primary-color: #ffffff;

// Secondary color
$secondary-color: #f0f3f4;
$secondary-color: #c8d1d3;
$secondary-color: #b9b0a2;
