@import "fonts";
@import "colors";

header {
  width: 100%;
  border-bottom: 1px solid #334856;
  nav {
    ul {
      display: flex;
      justify-content: space-evenly;
    }
    li {
      $primary-color: #1b1c20;
      list-style: none;
    }
  }
}
